<extend name="Public/base" />
<block name="body">
<ul class="breadcrumb">
<li><a href="javascript:history.back(-1)">返回上一页</a> <span class="divider">/</span></li>
  <li class="active">{$meta_title}</li>
  <li><a class="btn btn-link ajax-get  confirm" href="{:U('clear')}">清空日志</a></li>
</ul>

<table class="table table-hover table-striped table-bordered">
	<thead>
		<tr>
		<th class="">行为名称</th>
		<th class="">执行者</th>
		<th class="">执行时间</th>
		<th class="">操作</th>
		</tr>
	</thead>
	<tbody>
	<volist name="list" id="vo">
		<tr>
			<td>{:get_action($vo['action_id'],'title')}</td>
			<td>{:get_nickname($vo['user_id'])}</td>
			<td>{$vo.create_time|time_format}</td>
			<td>
			<a class="btn btn-mini" href="{:U('detail?id='.$vo['id'])}">详细</a>
			<a class="btn btn-mini ajax-get  confirm" href="{:U('deletelog?id='.$vo['id'])}">删除</a>
			</td>
		</tr>
		</volist>
	</tbody>
</table>

<div class="pagination">
  <ul>
{$_page}
  </ul>
</div>
</block>

<block name="script"></block>