<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>时光之旅</title>
<link href="../../../../Public/css/common.css" rel="stylesheet" type="text/css" />
<link href="../../../../Public/css/book_success.css" rel="stylesheet" type="text/css" />
<script src="../../../../Public/js/check.js" type="text/javascript"></script>
<script>
window.onload = function(){
	check();
}
</script>
</head>
<include file="Public/nav" />
	<div id="b_content">
		<div class="b_left">
			<div class="b_leftmain">
				<img src="../../../../Public/image/book.png" />
				<div class="b_main">
					<span class="b_title">永远的天堂——西藏</span>
					<span class="b_address">重庆—第一站—第二站—西藏</span>
						<div class="chose">
							<h4>出行日期：2014-10-05</h4><a href="#">重新选择</a>
						</div>
						<div class="chose">
							<h4>出行人数：2人</h4><a href="#">重新选择</a>
						</div>
						<div class="chose">
							<h4 class="money">费用合计：</h4><b>￥700</b>
						</div>
				</div>
				<p class="b_share">分享：fgfgfgf</p>
			</div>
			<div class="config">
				<form action="#" method="post">
					<h4>联系人信息</h4>
					<p class="infor"><span>联系人：</span><input class="f_name" type="text" name="username" /> <b class="c_name">(方便与您及时联系)</b></p>
					<p class="infor"><span>手机：</span><input class="f_phone" type="text" name="username" /> <b class="c_phone">(方便与您及时联系)</b></p>
					<p class="infor"><span>邮箱：</span><input class="f_email" type="text" name="username" /> <b class="c_email">(用于接收订单、合同等信息)</b></p>
					<h4 class="service">服务条款</h4>
					<div class="s_content">
						<p>1、请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答<br />2、请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答你如实回答请你如实回答请你如实回答请你如实回答请<br />3、请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答你如实回答请你如实回答请你如实回答请你如实回答请<br />4、请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答请你如实回答你如实回答请你如实回答请你如实回答请你如实回答请<br /></p>
					</div>
					<p class="s_agree"><input type="checkbox" class="check"/>我已经仔细阅读并确认接受服务条款</p>
					<input class="s_go" type="submit" value="开始预订">
				</form>
			</div>
		</div><include file="Public/RightBar"/>
	</div><include file="Public/footer"/>