<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>时光之旅</title>
<link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/book.css" rel="stylesheet" type="text/css" />
<script>
window.onload = function(){
	var oD = document.getElementById('order');
	oD.style.width=document.body.clientWidth+'px';
    oD.style.height=document.body.clientHeight+'px';
    oD.style.filter = 'alpha(opacity=50)';
    oD.style.opacity = 0.5;
    oD.style.background = '#000';
    var oDe  = document.getElementById('login_box');
    var oY = document.getElementById('login');
    var oN = document.getElementById('cancel');
     var te = (document.documentElement.clientWidth-772)/2 +'px';
    oDe.style.left = te;
    oY.onclick =function(){
        oD.style.display = 'block';
        oDe.style.display = 'block';
    }
    oN.onclick = function(){
    	oD.style.display = 'none';
        oDe.style.display = 'none';
    }
	
	var oDiv = document.getElementById('b_content');
	var oChose = getByClass(oDiv,'chose')[0];
	var aSpan = oChose.getElementsByTagName('span');
	for(var i =0,len = aSpan.length;i<len;i++){
		aSpan[i].onclick = function(){
			for(var i =0,len = aSpan.length;i<len;i++){
				aSpan[i].style.cssText= 'border:1px solid #404040;';
			}
			this.style.cssText= 'border:1px solid red;';
		}
	}
	
	
}
function getByClass(oparent,sClass){
		var aResult=[];
		var aEle = oparent.getElementsByTagName('*');
		for(var i=0;i<aEle.length;i++){
			if(aEle[i].className==sClass){
				aResult.push(aEle[i]);
			}
		}
		return aResult;
}
</script>
</head>
<include file="Public/nav" />
	<div id="b_content">
		<div class="b_left">
			<div class="b_leftmain">
				<img src="__PUBLIC__/image/book.png" />
				<div class="b_main">
					<p class="b_title">{$detail.title}</p>
					<span class="b_address">{$detail.travel_line}</span>
					<a class="totaobao" href="{$detail.taobao}">前去下单</a>
					<p>费用：{$detail.id|getPriceByRouteId}</p>
				</div>
				<p class="b_share">
                    分享：
                    <div class="bdsharebuttonbox">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                    <script>
                        window._bd_share_config={
                            "common":{
                                "bdSnsKey":{},
                                "bdText":"{$detail.title}",
                                "bdMini":"1",
                                "bdMiniList":false,
                                "bdPic":"",
                                "bdStyle":"1",
                                "bdSize":"16"
                            },
                            "share":{}
                        };
                        var bds_config = {
                            'bdText':'{$detail.title}',
                            'bdDesc':'{$detail.content|htmlspecialchars_decode|strip_tags}'
                        };
                        with(document)0[
                                (getElementsByTagName('head')[0]||body)
                                        .appendChild(createElement('script'))
                                        .src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                    </script>
                </p>
			</div>
			<div class="pics">
				{$detail.content|htmlspecialchars_decode}
			</div>
		</div>
		<div class="b_right">
			<a herf="#">
				<div class="talk">
					<span>在线支付</span>
					<span>123456789</span>
				</div>
				<div class="er_code">
					<p>
						<img src="__PUBLIC__/image/er_code.png" />
					</p>
					<span>关注微信二维码</span>
				</div>
				<div class="er_code">
					<p>
						<img src="__PUBLIC__/Public/image/er_code.png" />
					</p>
					<span>关注微博二维码</span>
				</div>
			</a>
		</div>
	</div>
<include file="Public/login"/>
<include file="Public/footer" />