<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{$detail.title}</title>
    <link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/css/book.css" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/js/move.js" text="javascript/text"></script>
    <script>
        window.onload = function () {
            var oD = document.getElementById('order');
            oD.style.width = document.body.clientWidth + 'px';
            oD.style.height = document.body.clientHeight + 'px';
            oD.style.filter = 'alpha(opacity=50)';
            oD.style.opacity = 0.5;
            oD.style.background = '#000';
            var oDe = document.getElementById('login_box');
            var oY = document.getElementById('login');
            var oN = document.getElementById('cancel');
            var te = (document.documentElement.clientWidth - 772) / 2 + 'px';
            oDe.style.left = te;
            oY.onclick = function () {
                oD.style.display = 'block';
                oDe.style.display = 'block';
            }
            oN.onclick = function () {
                oD.style.display = 'none';
                oDe.style.display = 'none';
            }

            var oDiv = document.getElementById('b_content');
            var Img = getByClass(oDiv,'img_slider')[0];
            var Img_l = getByClass(oDiv,'img_l')[0];
            var Img_detail = Img.getElementsByTagName('img')[0];
            var Img_dwidth = Img_detail.offsetWidth;
            var Img_dheight = Img_detail.offsetHeight;
            var Img_width= Img.offsetWidth/2;
            var Timer = null;
            if((Img_dwidth>=278&&Img_dheight>=352)||(Img_dwidth>=278&&Img_dheight<352)){
                Img_detail.style.height = 352 +'px';
                Img_l.style.left = 0 + 'px';
                Img_l.style.top = 0 + 'px';
                Img.onmousemove = function(ev){
                    clearInterval(Timer);
                    Timer = setInterval(function(){
                        var event = ev||window.event;
                        var x = event.clientX;
                        var y = event.clientY;
                        var divX = Img.offsetLeft;
                        var left = x-divX;
                        var Img_dwidth = Img_detail.offsetWidth;
                        if(Img_dwidth >=278){
                            var speed = 7;
                            var Img_cwidth = Img_dwidth-280;
                            if(left>Img_width){
                                if(Img_l.offsetLeft <= -Img_cwidth){
                                    clearInterval(Timer);
                                }else{
                                    Img_l.style.left = Img_l.offsetLeft-speed+'px';
                                }
                            }else{
                                if(Img_l.offsetLeft==0){
                                    clearInterval(Timer);
                                }else{
                                    Img_l.style.left = Img_l.offsetLeft+speed+'px';
                                }
                            }
                        }else{
                            Img_detail.style.width = 278 +'px';
                            Img_detail.style.height = 352 +'px';
                            Img_l.style.left = 0 + 'px';
                            Img_l.style.top = 0 + 'px';
                        }
                    },30);
                }
            }else{
                Img_detail.style.width = 278 +'px';
                Img_detail.style.height = 352 +'px';
                Img_l.style.left = 0 + 'px';
                Img_l.style.top = 0 + 'px';
            }
            Img.onmouseout = function(){
                clearInterval(Timer);
            }
        }
        function getByClass(oparent, sClass) {
            var aResult = [];
            var aEle = oparent.getElementsByTagName('*');
            for (var i = 0; i < aEle.length; i++) {
                if (aEle[i].className == sClass) {
                    aResult.push(aEle[i]);
                }
            }
            return aResult;
        }
    </script>
</head>
<include file="Public/nav"/>
<div id="b_content">
    <div class="b_left">
        <div class="b_leftmain">
            <div class="img_slider">
                    <div class="img_l">
                        <img src="{$detail.pic_url}"/>
                    </div>
            </div>
            <div class="b_main">
                <p class="b_title">{$detail.title}</p>
                <span class="b_address">{$detail.travel_line}</span>
                <a class="totaobao" href="{$detail.taobao}">前去下单</a>

                <p>费用：{$detail.id|getPriceByRouteId}</p>
            </div>
            <div class="bdsharebuttonbox">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_qzone"
                          data-cmd="qzone"
                          title="分享到QQ空间"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_renren"
                          data-cmd="renren"
                          title="分享到人人网"></a>
                <a href="#"
                          class="bds_weixin"
                          data-cmd="weixin"
                          title="分享到微信"></a>
                <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                <a href="#" class="bds_sqq"
                          data-cmd="sqq"
                          title="分享到QQ好友"></a>
            </div>
            <script>
                window._bd_share_config = {
                    "common": {
                        "bdSnsKey": {},
                        "bdText": "{$detail.title} - test",
                        "bdMini": "2",
                        "bdMiniList": false,
                        "bdPic": "",
                        "bdStyle": "1",
                        "bdSize": "16",
                        "bdUrl": location.href
                    }, "share": {}
                };
                with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
            </script>
        </div>
        <div class="pics">
            {$detail.content|htmlspecialchars_decode}
        </div>
    </div>
    <include file="Public/RightBar"/>
</div>
<include file="Public/login"/>
<include file="Public/footer"/>