<extend name="Public/base" />
<block name="body">
<ul class="breadcrumb">
<li><a href="javascript:history.back(-1)">返回上一页</a> <span class="divider">/</span></li>
  <li class="active">{$meta_title}</li>
</ul>
<div class="row-fluid">
 <form class="form-horizontal" action="{:U('changepassword')}">
<input type="hidden" name="uid" value="{$uid}">
  <div class="control-group">
    <label class="control-label" for="password">新密码</label>
    <div class="controls">
      <input type="password" id="password" name="password" class="span8" placeholder="新密码">
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="confirmpassword">确认密码</label>
    <div class="controls">
      <input type="password" id="confirmpassword" name="confirmpassword" class="span8" placeholder="确认密码">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn ajax-post" target-form="form-horizontal">保存</button><button type="button" class="btn" onclick="javascript:history.back(-1)">取消</button>
    </div>
  </div>
 </form>
</div>
</block>

