<div id="footer">
    <div id="f_content">
        <div id="f_left">
            <img  class="f_logo" src="__PUBLIC__/image/logo.png" />
            <span>备案J1541558436[京] </span>
        </div>
        <div id="f_center">
            <p>
                <a href="#">关于我们</a>
                <a href="#">联系我们</a>
                <a href="#">隐私条款</a>
                <a href="#">加入我们</a>
            </p>
            <p class="f_pic">
                <a href="#">关于我们:</a>
                <a href="#"><img src="__PUBLIC__/image/f_web.png" /></a>
                <a href="#"><img src="__PUBLIC__/image/f_qq.png" /></a>
            </p>
        </div>
        <div id="f_right">
            <img src="{$er1}" />
            <span>扫一扫关注时光旅行</span>
        </div>
    </div>
    <div id="f_bottom">
        <span>友情链接</span>
        <p>
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">隐私条款</a>
            <a href="#">加入我们</a>
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">隐私条款</a>
            <a href="#">加入我们</a>
            <a href="#">加入我们</a>
            <a href="#">关于我们</a>
        </p>
        <p>
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">隐私条款</a>
            <a href="#">加入我们</a>
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">隐私条款</a>
            <a href="#">加入我们</a>
            <a href="#">加入我们</a>
            <a href="#">关于我们</a>
        </p>
    </div>
</div>
<div id="fixed">
    <ul>
        <li><a class="f_f" href="tencent://message/?uin={$qq}&Site=qq&Menu=yes" >QQ在线咨询</a></li>
        <li><a class="f_s" href="#">{$tel}</a></li>
        <li><a class="f_t" href="javascript:void(0);">回到顶部</a></li>
    </ul>
</div>
<div id="order">
</div>
<include file="Public/login"/>
</body>
</html>
