<div id="login_box" style="background:#fff;z-indent:12px;opacity:1;">
    <h4>登陆<img id="cancel" src="__PUBLIC__/image/close.png" /></h4>
    <div class="l_left">
        <p>使用社交网络登陆</p>
        <!--<span><a href="#"><img src="__PUBLIC__/image/l_web.png" /></a>新浪微博</span>-->
        <span class="qq" id="qq"><a href="#" onclick="toQzoneLogin()"><img src="__PUBLIC__/image/l_qq.png" /></a><br />腾讯QQ</span>
    </div>
    <div class="l_right">
        <p><a class="l_first" href="#">使用本网账号登陆</a><a class="l_last" href="#">注册</a></p>
        <form action="{:U('Index/login')}" method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <p class="tell">
                <span><input name="remember" type="checkbox" class="radio"/>记住我</span><a href="#">忘记密码?</a>
            </p>
            <input type="submit" class="l_sub" value="登陆">
        </form>
    </div>
</div>
<script type="text/javascript">
    var childWindow;
    function toQzoneLogin()
    {
        childWindow = window.open("{:U('Home/Public/oauth')}","TencentLogin","width=450,height=320,menubar=0,scrollbars=1, resizable=1,status=1,titlebar=0,toolbar=0,location=1");
    }

    function closeChildWindow()
    {
        childWindow.close();
    }
</script>