<div class="t_right">
    <a herf="#">
        <!--<div class="talk">-->
            <!--<span>在线支付</span>-->
            <!--<span>123456789</span>-->
        <!--</div>-->
        <div class="er_code">
            <p>
                <img src="__PUBLIC__/image/er_code.png" />
            </p>
            <span>关注微信二维码</span>
        </div>
        <div class="er_code">
            <p>
                <img src="__PUBLIC__/image/er_code.png" />
            </p>
            <span>关注微博二维码</span>
        </div>
    </a>
</div>