<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>注册</title>
    <link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/css/register.css" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/js/form.js" type="text/javascript"></script>
    <script>
        window.onload = function () {
            form_check();
            login_box();
        }
    </script>
</head>
<include file="Public/nav"/>
<div id="r_box">
    <h4>创建您的新用户</h4>

    <div class="r_form">
        <p class="r_title">创建账户<span class="r_right"><b>或者</b><a href="#">登陆</a></span></p>

        <form action="#" method="post">

            <span>注册邮箱<b class="config_email"></b></span>

            <p>
                <input class="r_email" type="text" name="username"/>
            </p>
            <span>登陆密码<b class="config_psw"></b></span>

            <p>
                <input class="r_psw" type="password" name="password"/>
            </p>

            <span>重复密码<b class="config_repsw"></b></span>

            <p>
                <input class="r_repsw" type="password" name="repassword"/>
            </p>

            <p class="again">为必填项</p>
            <span class="no_sign">联系手机<b class="config_phone"></b></span>

            <p>
                <input class="r_phone" type="text" name="tel"/>
            </p>
            <span class="code">验证码<b></b></span>

            <p>
                <input class="code_box" type="text" name="verify"/>
                <span class="code_pic">
                    <img src="{:U('Index/verify', array('token'=>time()))}" id="verify"/>
                </span>
                <script type="text/javascript">
                    var img = document.getElementById('verify');
                    img.addEventListener("click", function(){
                        var time = parseInt(new Date() / 1000);
                        var url = '{:U('Index/verify')}' + '&token=' + time;
                    });
                </script>
            </p>

            <p class="f_agree"><input class="agree" type="checkbox">我同意 时光旅行《服务条款》及《隐私权政策》</p>

            <p>
                <input class="f_go" type="submit" value="注 册">
            </p>
        </form>
    </div>
</div>
<div id="footer">
    <div id="f_content">
        <div id="f_left">
            <img class="f_logo" src="__PUBLIC__/image/logo.png"/>
            <span>备案J1541558436[京] </span>
        </div>
        <div id="f_center">
            <p>
                <a href="#">关于我们</a>
                <a href="#">联系我们</a>
                <a href="#">隐私条款</a>
                <a href="#">加入我们</a>
            </p>

            <p class="f_pic">
                <a href="#">关于我们:</a>
                <a href="#"><img src="__PUBLIC__/image/f_web.png"/></a>
                <a href="#"><img src="__PUBLIC__/image/f_qq.png"/></a>
            </p>
        </div>
        <div id="f_right">
            <img src="__PUBLIC__/image/erw.png"/>
            <span>扫一扫关注时光旅行</span>
        </div>
    </div>
    <div id="f_bottom">
        <span>友情链接</span>

        <p>
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">隐私条款</a>
            <a href="#">加入我们</a>
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">隐私条款</a>
            <a href="#">加入我们</a>
            <a href="#">加入我们</a>
            <a href="#">关于我们</a>
        </p>

        <p>
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">隐私条款</a>
            <a href="#">加入我们</a>
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">隐私条款</a>
            <a href="#">加入我们</a>
            <a href="#">加入我们</a>
            <a href="#">关于我们</a>
        </p>
    </div>
</div>
<div id="order">
</div>
<include file="Public/login"/>
</body>
</html>
