<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>时光之旅</title>
<link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/travel.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
<script src="js/showPic.js" type="text/javascript"></script>
<script>
window.onload = function(){
	var oD = document.getElementById('order');
	oD.style.width=document.body.clientWidth+'px';
    oD.style.height=document.body.clientHeight+'px';
    oD.style.filter = 'alpha(opacity=50)';
    oD.style.opacity = 0.5;
    oD.style.background = '#000';
    var oDe  = document.getElementById('login_box');
    var oY = document.getElementById('login');
    var oN = document.getElementById('cancel');
     var te = (document.documentElement.clientWidth-772)/2 +'px';
    oDe.style.left = te;
    oY.onclick =function(){
         oD.style.display = 'block';
          oDe.style.display = 'block';
    }
    oN.onclick = function(){
    	oD.style.display = 'none';
        oDe.style.display = 'none';
    }
    var title = document.getElementById('t_content');
    var Img_title = getByClass(title,'Img_title');
    var Img_detail = getByClass(title,'Img_detail');
    var Img_l = [];
    for(var i = 0;i<Img_title.length;i++){
        Img_l[i] = Img_detail[i].getElementsByTagName('img')[0];
        showPi(Img_title[i],Img_detail[i],Img_l[i]);
    }
}
function getByClass(oparent,sClass){
		var aResult=[];
		var aEle = oparent.getElementsByTagName('*');
		for(var i=0;i<aEle.length;i++){
			if(aEle[i].className==sClass){
				aResult.push(aEle[i]);
			}
		}
		return aResult;
}
window.onscroll = function(){
	 var oFix = document.getElementById("fixed");
	 var oTop = getByClass(oFix,'f_t')[0];
	 oTop.onclick = function(){	
	 	startMove(oFix.srcollTop,{top:0});
	 }
	if (document.documentElement.scrollTop + document.body.scrollTop > 360) { 
	    oFix.style.display = "block"; 
	} 
	else { 
	     oFix.style.display = "none"; 
	} 
}
</script>
<script>
$(function(){
        showScroll();
        function showScroll(){
            $(window).scroll( function() { 
                var scrollValue=$(window).scrollTop();
                scrollValue > 100 ? $('a[class=f_t]').fadeIn():$('a[class=f_t]').fadeOut();
            } );    
            $('.f_t').click(function(){
                $("html,body").animate({scrollTop:0},200);  
            }); 
        }
 });
</script>
</head>
<include file="Public/nav" />
	<div id="t_content">
		<div class="t_left">
            <volist id="vo" name="list">
                <div class="t_leftmain">
                    <div class="Img_title">
                        <div class="Img_detail">
                            <img src="{$vo.header_img}">
                        </div>
                    </div>
                    <span><a href="{:U('Home/Time/Detail', array('id'=>$vo['id']))}">{$vo.title}</a></span>
                    <div class="t_content">
                    <p>{$vo.content|htmlspecialchars_decode|strip_tags|mb_substr=###,0,250}<a href="{:U('Article/detail', array('id'=>$vo['id']))}">查看全文</a></p>
                	</div>
                    <if condition="count($vo['route']) gt 0">
                        <span class="route_detail">相关路线</span>
                        <volist id="r" name="vo['route']">
                            <div class="route">
                                <img src="__PUBLIC__/image/route.png" />
                                <span class="t_title">{$r.title}</span>
                                <span>时间：{$r.start_time|date="Y.m.d",###}-{$r.end_time|date="Y.m.d",###}</span>
                                <span>{$r.create_time|date="Y.m.d",###}发布</span>
                                <a href="{:U('Route/detail', array('id'=>$r['id']))}" class="t_look">查看路线</a>
                            </div>
                        </volist>
                    </if>
                </div>
            </volist>

			<p class="page">
				<a href="{:lastPageUrl('Article', 'home/time/index', $_GET['pid'], 'pid', array('type'=>'time'))}">上一页</a>
				<volist id="vo" name="page">
					<if condition="$vo neq '...'">
						<a <if condition="$vo eq $pid">class="t_active"</if> href="{:U('Home/Time/index', array('pid' => $vo))}">{$vo}</a>
						<else />
						<a href="#">...</a>
					</if>
				</volist>
				<a href="{:nextPageUrl('Article', 'home/time/index', $_GET['pid'], 'pid', array('type'=>'time'))}">下一页</a>
			</p>
		</div><include file="Public/RightBar"/>
	</div><include file="Public/footer"/>