<extend name="Public/base" />
<block name="head">
<link href="__BOOTSTRAP__/css/bootstrap-datetimepicker.min.css"
	rel="stylesheet" type="text/css">
</block>
<block name="body">
<ul class="breadcrumb">
	<li>
		<a href="javascript:history.back(-1)">返回上一页</a>
		<span class="divider">/</span>
	</li>
	<li class="active">{$meta_title}</li>
</ul>
<div class="row-fluid">
	<form class="form-horizontal" action="{:U('edit')}">
        <input type="hidden" name="id" value="{$info.id|default=''}">

        <div class="control-group">
            <label class="control-label" for="img_url">图片地址</label>
            <div class="controls">
                <input type="text" id="img_url" name="img_url" class="span8"
                       placeholder="图片地址" value="{$info.img_url}">
            </div>
        </div>

        <div class="control-group">
			<div class="controls">
				<button type="submit" class="btn ajax-post"
					target-form="form-horizontal">保存</button>
				<button type="button" class="btn"
					onclick="javascript:history.back(-1)">取消</button>
			</div>
		</div>
	</form>
</div>
</block>
<block name="script"> <script type="text/javascript"
	src="__BOOTSTRAP__/js/bootstrap-datetimepicker.min.js">
</script> <script type="text/javascript"
	src="__BOOTSTRAP__/js/bootstrap-datetimepicker.zh-CN.js"></script> <script
	type="text/javascript">
$('#publishtime').datetimepicker({ language:'zh-CN'}); 
setValue("pid", {$info.pid|default=0}); 
setValue("status", {$info.status|default = 1}); 

</script> </block>
