<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>

    </style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>极致探险</title>
<link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/explore.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/js/move.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/showPic.js" type="text/javascript"></script>
<script>
window.onload = function(){
	var oD = document.getElementById('order');
	oD.style.width=document.body.clientWidth+'px';
    oD.style.height=document.body.clientHeight+'px';
    oD.style.filter = 'alpha(opacity=50)';
    oD.style.opacity = 0.5;
    oD.style.background = '#000';
    var oDe  = document.getElementById('login_box');
    var oY = document.getElementById('login');
    var oN = document.getElementById('cancel');
     var te = (document.documentElement.clientWidth-772)/2 +'px';
    oDe.style.left = te;
    oY.onclick =function(){
         oD.style.display = 'block';
          oDe.style.display = 'block';
    }
    oN.onclick = function(){
    	oD.style.display = 'none';
        oDe.style.display = 'none';
    }
    var nowss =0;
    var oIn = document.getElementById('l_main_g');
    var oUl1 =oIn.getElementsByTagName('ul')[0];
    var aLi1 =oUl1.getElementsByTagName('li');
    oUl1.style.width =aLi1[0].offsetWidth*aLi1.length+'px';
    var o_prev = getByClass(oIn,'intro_prev')[0];
    var o_next = getByClass(oIn,'intro_next')[0];
    var away = (document.documentElement.clientWidth-1148)/2 +'px';
    o_next.style.right = away;
    o_prev.style.left = away;
 	o_next.onclick = function(){
 		nowss--;
 		if(nowss==-1){
 			nowss = aLi1.length -1;
 		}
 		startMove(oUl1,{left:-aLi1[0].offsetWidth*nowss});
 	}
 	o_prev.onclick = function(){
 		nowss++;
 		if(nowss==aLi1.length){
 			nowss=0;
 		}
 		startMove(oUl1,{left:-aLi1[0].offsetWidth*nowss});
 	}

}
window.onscroll = function(){
	 var oFix = document.getElementById("fixed");
	 var oTop = getByClass(oFix,'f_t')[0];
	 oTop.onclick = function(){	
	 	startMove(oFix.srcollTop,{top:0});
	 }
	if (document.documentElement.scrollTop + document.body.scrollTop > 360) { 
	    oFix.style.display = "block"; 
	} 
	else { 
	     oFix.style.display = "none"; 
	} 

    var l_main = document.getElementById('main');
    /*for(var i=1;i<7;i++){
        var img'+ i+'= getByClass(l_main,'img_title'+ i  +'')[0];
        var img_l'+ i +' = getByClass(l_main,'img_detail'+i+'')[0];
        var img_detail'+i+' = img_l'+i+'.getElementsByTagName('img')[0];
        showPic(img'+i+',img_l'+i+',img_detail'+i+');
    }*/
    var img1 = getByClass(l_main,'img_title1')[0];
    var img2 = getByClass(l_main,'img_title2')[0];
    var img3 = getByClass(l_main,'img_title3')[0];
    var img4 = getByClass(l_main,'img_title4')[0];
    var img5 = getByClass(l_main,'img_title5')[0];
    var img6 = getByClass(l_main,'img_title6')[0];
    var img_l1 = getByClass(l_main,'img_detail1')[0];
    var img_l2 = getByClass(l_main,'img_detail2')[0];
    var img_l3 = getByClass(l_main,'img_detail3')[0];
    var img_l4 = getByClass(l_main,'img_detail4')[0];
    var img_l5 = getByClass(l_main,'img_detail5')[0];
    var img_l6 = getByClass(l_main,'img_detail6')[0];
    var img_detail1 = img_l1.getElementsByTagName('img')[0];
    var img_detail2 = img_l2.getElementsByTagName('img')[0];
    var img_detail3 = img_l3.getElementsByTagName('img')[0];
    var img_detail4 = img_l4.getElementsByTagName('img')[0];
    var img_detail5 = img_l5.getElementsByTagName('img')[0];
    var img_detail6 = img_l6.getElementsByTagName('img')[0];
    showPic(img1,img_l1,img_detail1);
    showPic(img2,img_l2,img_detail2);
    showPic(img3,img_l3,img_detail3);
    showPic(img4,img_l4,img_detail4);
    showPic(img5,img_l5,img_detail5);
    showPic(img6,img_l6,img_detail6);
}
</script>
<script>
$(function(){
        showScroll();
        function showScroll(){
            $(window).scroll( function() { 
                var scrollValue=$(window).scrollTop();
                scrollValue > 100 ? $('a[class=f_t]').fadeIn():$('a[class=f_t]').fadeOut();
            } );    
            $('.f_t').click(function(){
                $("html,body").animate({scrollTop:0},200);  
            }); 
        }
 });
</script>
</head>
<include file="Public/nav" />
	<div class="l_main clear">
	<div class="bg_img">
        <p style="text-align:center"><img src="./image/l_mian_bg.jpg" /></p>
        <if condition="$stuff[0]['title']">
			<div id ="bg_title">
				<p> 
					{$stuff[0]["title"]}	
				</p>
			</div>
		</if>
	</div>
    <div class="l_main_g">
    	<div class="main_center">
        	<div class="main_c1">
                <p style="text-align:center"><img src="./image/main_1.png" /></p>
                <if condition="$stuff[1]['title']">
	            	<div class="c1_font">
	                    <p class="b">{$stuff[1]["title"]}</p>
	            	</div>
            	</if>
            </div>
        </div>
    </div>
    <div class="l_main_w clear">
    	<div class="main_center clear">
        	<p class="w_font">活动详情</p>
            <volist id="vo" name="activity" key="k">
            <if condition="$k % 2 eq 1" >
            	<div class="text_img">
            </if>
                <div class="img_{$k} <if condition='$k % 2 eq 0'>m_left</if>">
                    <div class="img_title{$k}">
                        <div class="img_detail{$k}">
                           <a href="{:U('Route/detail', array('id'=>$vo['id']))}">
                            <img src="{$vo.pic_url}">
                           </a>
                        </div>
                    </div>
                    <a href="{:U('Route/detail', array('id'=>$vo['id']))}">
                        <p>{$vo.title}</p>
                    </a>
                </div>
            <if condition="$k % 2 eq 0" >
            	</div>
            </if>
            </volist>
        </div>
    </div>
    <div id="l_main_g">
    	<img class="intro_prev" src="__PUBLIC__/image/intro_prev.png" />
        <img class="intro_next" src="__PUBLIC__/image/intro_next.png" />
    	<div class="main_center">
        	<p class="w_font">领队介绍</p>
        	<div id="f_js">
        		<span>王牌领队</span>
        		<ul>
                    <volist id="vo" name="leader">
                        <li><a href="{:U('leader', array('id'=>$vo['id']))}">
                            <img src="{$vo.header_img}" />
                        </a></li>
                    </volist>
        		</ul>
        	</div>
        </div>
    </div>
</div>
<include file="Public/footer"/>